<div id="<%= dom_id user %>">
</div>

<p>
<strong>Image data:</strong>
<%= image_tag @user.image_url if @user.image %>
</p>

<div>
  <%= user.full_name%>
</div>
<div>
  <%= user.bio%>
</div>
<div>
  <%= user.instagram_url%>
</div>
<div>
  <%= user.tiktok_url%>
</div>
<div>
  <%= user.snapchat_url%>
</div>
