<div id="<%= dom_id user %>">
</div>

<div>
<%= image_tag user.image_url if user.image %>
</div>

<div>
  <%= user.full_name%>
</div>
<div>
  <%= user.bio%>
</div>
<div>
  <%= user.instagram_url%>
</div>
<div>
  <%= user.tiktok_url%>
</div>
<div>
  <%= user.snapchat_url%>
</div>
