<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Back to users", users_path %> |
  <%= edit_user(@user) %>

  <%= destroy_user(@user) %>

  <%# TODO: Fix Error with 'method: post' coming from server.%>
  <%= button_to "Follow this User", {controller: "relationships", action: "create", leader_id: @user.id, method: post} %>
</div>
