<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Back to users", users_path %> |
  <%= edit_user(@user) %>

  <%= destroy_user(@user) %>

  <%= link_to "Follow this User", new_relationship_path %>
</div>
