<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Back to users", users_path %> |
  <%= edit_user(@user) %>

  <%= destroy_user(@user) %>
</div>
<div>
  <%= button_to "Follow", {controller: "relationships", action: "create", leader_id: @user.id, method: :post} %>
  <%= button_to "Unfollow", {controller: "relationships", action: "destroy", leader_id: @user.id, method: :delete}%>
  </div>

