<div class="card" style="width: 18rem;" id="<%= dom_id shared_post %>">

  <img src="<%= shared_post.image_url%>" class="card-img-top" alt="<%= shared_post.description%>">
  <div class="card-body">
    <h5 class="card-title"><%= shared_post.title%></h5>
    <p class="card-text"><%= shared_post.description %></p>
    <%= link_to "See this post", shared_post, class: "btn btn-primary" %>
  </div>
</div>