<p style="color: green"><%= notice %></p>

<%= render @original_post %>

<div>
  <%= edit_original_post(@original_post) %> |
  <%= link_to "Back to original posts", original_posts_path %>

  <%= delete_original_post(@original_post) %>
</div>
